<body>
    
</body>

<script>
    async function getApi() {
        try {
            const res = await fetch('http://localhost:2000')
            //console.log(res)
            const dados = await res.json()
            
            //console.log(dados)
            show(dados)
        
        } catch(erro){
            console.log('Houve um erro '+erro)
        }
    }
    getApi()
    
    function show(users){
        let output = ''

        for(let user of users){
            output += `<li>${user.name}</li>`
        }

        document.querySelector('body').innerHTML = output
    }
                      
</script>